<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051987053339-qggvidkivq7et1kp969fjkcmmc8ti8bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051987053339-qggvidkivq7et1kp969fjkcmmc8ti8bs</string>
	<key>API_KEY</key>
	<string>AIzaSyBpPxXO9-Dw67EQuKdd-WpsABcTiYpWzTA</string>
	<key>GCM_SENDER_ID</key>
	<string>1051987053339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.robanohashi</string>
	<key>PROJECT_ID</key>
	<string>robanohashi</string>
	<key>STORAGE_BUCKET</key>
	<string>robanohashi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051987053339:ios:d99c579d5f5102ff94a1be</string>
</dict>
</plist>